<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./public/styles/styles.css" media="screen" title="no title" charset="utf-8" type="text/css"/>
  <title>Home Page</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1><i class="fas fa-drafting-compass"></i></h1>
          <h1>HARTING</h1>
          <h6>CONSTUCTION, INC.</h6>
          <br/>
      </div>
    </div>
  </div>
  {{{body}}}
</body>
{{!-- <style>
  .list-group-item {
  line-height: 2.5;
}

body {
  background-color: rgb(0, 0, 85);
}

h1, h6 {
  text-align: center;
  color: white;
  padding-right: 1000px;
}

h2 {
  color: white;
}

h3 {
  font-weight: 900;
}

.fas {
  padding-top: 40px;
}

.img-btn {
  color: white;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 330px;
  transition: transform .4s;
}

.img-btn:hover {
  transform: scale(1.1); 
}
.btn-1 {
  background-image: url("https://www.wohlsenconstruction.com/wp-content/uploads/2016/03/green-buildings-construction-rockhill-mennonite-community-personal-care-addition-1-1395x704.jpg")
}

.btn-2 {
  background-image: url("https://dorancompanies.com/wp-content/uploads/2016/03/make.png");
}

.btn-3 {
  background-image: url("https://www.extrapersonnel.co.uk/wp-content/uploads/2018/05/AdobeStock_55776942-1024x683.jpeg");
}

.data-row {
  background-color: white;
  border-width:15px;  
  border-style: solid;
  border-top: solid;
  border-color: rgb(4, 114, 116);
}

.data-row-lg {
  /* background-color: rgb(107, 107, 107); */
  background-image: url("http://www.earthtimes.org/newsimage/organic-building-materials-25-May-11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-width:15px;  
  border-style: solid;
  border-bottom: none;
  /* border-color: rgb(107, 107, 107); */
  border-color: rgb(4, 114, 116);

}

</style> --}}
</html>
