<div class="container">
  <div class="row">
    <div class="col-md-4 img-btn btn-1">
      <h3>REQUST MATERIAL</h3>
    </div>
    <div class="col-md-4 img-btn btn-2">
      <h3>REVIEW STATUS OF REQUEST</h3>
    </div>
    <div class="col-md-4 img-btn btn-3">
      <h3>PROCUREMENT PORTAL</h3>
    </div>
  </div>
</div>

{{!-- 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="../public/js/index.js"></script> --}}
<script src="../public/js/all.js"></script> --}}
