<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Construction, Inc.</h1>
        <h2>Purchase Request System</h2>
        <br/>
        <button type="button" class="btn btn-secondary">Create New Purchase Requisition</button>
        <button type="button" class="btn btn-secondary">Review Status of Request</button>
        <button type="button" class="btn btn-secondary">Procurement Portal</button>
        <button type="button" class="btn btn-secondary">Manager's Portal</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="../public/js/index.js"></script> --}}
{{!-- <script src="../public/js/all.js"></script> --}}
