<div class="container">
  <div class="row">
    <div class="col-md-4 img-btn btn-1 animated zoomIn">
      <h3>REQUST MATERIAL</h3>
    </div>
    <div class="col-md-4 img-btn btn-2 animated zoomIn">
      <h3>REVIEW STATUS OF REQUEST</h3>
    </div>
    <div class="col-md-4 img-btn btn-3 animated zoomIn">
      <h3>PROCUREMENT PORTAL</h3>
    </div>
  </div>
</div>

