<div class="container">
  <div class="row data-row-lg">
    <div class="col-md-12">
      <br />
      <h2>Management Portal</h2>
      <br />
      <button id="homeButtonReview" type="button" class="btn btn-secondary">Home</button>
      <br />
      <br />
    </div>
  </div>

  <div class="row data-row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <br />
            <h5>Total Number of New Requests</h5>
            <br />
            Total:
            <br />
            Beth:
            <br />
            Lou:
            <br />
            Mike:
            <br />
            <br />
          </div>

          <div class="col-md-4">
            <br />
            <h5>Total Number of Requests on Order</h5>
            <br />
            Total:
            <br />
            Beth:
            <br />
            Lou:
            <br />
            Mike:
            <br />
            <br />
          </div>

          <div class="col-md-4">
            <br />
            <h5>Total Number of Requests Delivered</h5>
            <br />
            Total:
            <br />
            Delivered Early:
            <br />
            Delivered On Time:
            <br />
            Delivered Late:
            <br />
            <br />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            </br>
            <h5>Total Requests Submitted per Month</h5>
            <br />
            October 2018:
            <br />
            November 2018:
            <br />
            December 2018:
            <br />
            January 2019:
            <br />
            <br />
          </div>

          <div class="col-md-4">
            </br>
            <h5>Total Requests Submitted per Project</h5>
            <br />
            Park West:
            <br />
            Z Apartments:
            <br />
            Metroplex:
            <br />
            Sky Airport:
            <br />
            <br />
          </div>

          <div class="col-md-4">
            </br>
            <h5>Total Requests Submitted per Buyer</h5>
            <br />
            Beth:
            <br />
            Lou:
            <br />
            Mike:
            <br />
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="../../public/js/all.js"></script>

<script>
  $("#homeButtonReview").click(function (event) {

    event.preventDefault();

    window.location.href = "/";
  });
</script>