<div class="container">
  <div class="row data-row-new">
    <div class="col-md-12">
      <br/>
      <h2 class="new-request">New Request</h2>
      <br />
      <form class="clearfix mb-4">
        <div class="form-group">
          <label for="project-name">Project Name</label>
          <input type="text" id="project-name" class="form-control" aria-describedby="project-name" placeholder="Project Name...">
        </div>
        <div class="form-group">
          <label for="requestor-name">Requestor Name</label>
          <input type="text" id="requestor-name" class="form-control" aria-describedby="requestor-name" placeholder="Requestor Name...">
        </div>
        <div class="form-group">
          <label for="requestor-name">Buyer Name</label>
          <input type="text" id="requestor-name" class="form-control" aria-describedby="requestor-name" placeholder="Buyer Name...">
        </div>
        <div class="form-group">
          <label for="material">Material Description</label>
          <input type="text" id="material" class="form-control" aria-describedby="material" placeholder="Material Description...">
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="text" id="quantity" class="form-control" aria-describedby="quantity" placeholder="Quantity...">
        </div>
        <div class="form-group">
          <label for="need-by-date">Need-by Date</label>
          <input type="text" id="need-by-date" class="form-control" aria-describedby="need-by-date" placeholder="Need-by Date (00/00/0000)...">
        </div>
        <button id="submit" class="btn btn-primary float-right">Submit to Procurement</button>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

$(document).ready(function () {

     $("#submit").click(function(event){

      event.preventDefault();

        var request = {
            projectName : $("#project-name").val().trim(),
            requestorname : $("#requestor-name").val().trim(),
            materialDesc : $("#material").val().trim(),
            quantity : $("#quantity").val().trim(),
            needByDate : $("#need-by-date").val().trim()
        };

        console.log(request);

        $.post("api/requests", request);

        $(".form-control").val("");
    });

})

</script>

{{!-- <script src="../public/js/index.js"></script> --}}