<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{!-- <h1>{{msg}}</h1> --}}
        <h1>Construction, Inc.</h1>
        <h2>Purchase Request System</h2>
        <h2>New Request</h2>
        <br />
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="project-name">Project Name</label>
            <input type="text" id="project-name" class="form-control" aria-describedby="project-name" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="requestor-name">Requestor Name</label>
            <input type="text" id="requestor-name" class="form-control" aria-describedby="requestor-name" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="material">Material Description</label>
            <input type="text" id="material" class="form-control" aria-describedby="material" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" class="form-control" aria-describedby="quantity" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="need-by-date">Need-by Date</label>
            <input type="text" id="need-by-date" class="form-control" aria-describedby="need-by-date" placeholder="Enter Example Text">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit to Procurement</button>
        </form>

        {{!-- <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>