<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Construction, Inc.</h1>
        <h2>Purchase Request System</h2>
        <h2>Procurement Portal</h2>
        <br />
        <button type="button" class="btn btn-secondary">Home</button>
        <br />
        <br />
        <button type="button" class="btn btn-secondary">View All Open Requests</button>
        <button type="button" class="btn btn-secondary">View Unassigned New Requests</button>
        <button type="button" class="btn btn-secondary">View Assigned New Requests Pending Action</button>
        <button type="button" class="btn btn-secondary">View All Requests</button>
        <br />
        <br />
        {{!-- Below needs to be updated with the updated model --}}
        <h3>Unassigned Requests:</h3>
        <ul id="open-requests-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>